<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ljb.demo.dao.UserDao">
    <select id="quertAllUser" resultType="com.ljb.demo.entity.User">
    SELECT * FROM user_info;
   </select>

    <insert id="saveUserInfo" parameterType="com.ljb.demo.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into user_info (name,age) values (#{name},#{age})
    </insert>

        <select id="queryUserByName" resultType="user" parameterType="java.lang.String">
        select * from user_info where name=#{name}
    </select>

</mapper>
